---
import "../styles/web.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/public/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/public/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/public/favicon-16x16.png"
    />
    <link rel="manifest" href="/public/site.webmanifest" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>about me</title>
  </head>
  <body>
    <a href="/">blog</a>
    <a href="/about/">about</a>
    <a href="https://www.linkedin.com/in/ethan-crawford-791038331/" target="_blank">linkedin</a>
    <a href="https://github.com/ecrawford4" target="_blank">github</a>
    <a href="https://x.com/ecrawfordme" target="_blank">x</a>
    <a href="https://mastodon.social/@ecrawfordme" target="_blank">mastodon</a>
    <a href="https://bsky.app/profile/ecrawfordme.bsky.social" target="_blank">bluesky</a>
    <a href="https://ecrawford4.substack.com/" target="_blank">substack</a>
    <a href="https://www.keybr.com/profile/r59aauz" target="_blank">keybr</a>
    
    <h1>ethan crawford</h1>
    <h2>about me</h2>

    <img src="/public/head.jpg" alt="Ethan Crawford" />
    <br />
    <p>
      I am a senior computer science student at Eastern Washington University.
      Please see my <a href="..">blog</a> or my <a
        href="https://github.com/ecrawford4/">github</a
      >.
    </p>
    <footer>
      <p>&copy; 2024 Ethan Crawford. <br />All rights reserved.</p>
    </footer>
  </body>
</html>
