---
import "../styles/web.css";
import { frontmatter } from "../pages/posts/post-1.md";

const { title, pubDate, author, description } = frontmatter;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title.toLowerCase()}</title>
  </head>
  <body>
    <main>
      <article>
        <header>
          <a href="/">blog</a>
          <a href="/about/">about</a>
          <a
            href="https://www.linkedin.com/in/ethan-crawford-791038331/"
            target="_blank">linkedin</a
          >
          <a href="https://github.com/ecrawford4" target="_blank">github</a>
          <a href="https://x.com/ecrawfordme" target="_blank">x</a>
          <a href="https://mastodon.social/@ecrawfordme" target="_blank"
            >mastodon</a
          >
          <a
            href="https://bsky.app/profile/ecrawfordme.bsky.social"
            target="_blank">bluesky</a
          >
          <a href="https://ecrawford4.substack.com/" target="_blank">substack</a
          >
          <a href="https://www.keybr.com/profile/r59aauz" target="_blank"
            >keybr</a
          >
          <h1>{title.toLowerCase()}</h1>
          <h3>
            by {author.toLowerCase()}
            <br /> on {new Date(pubDate).toLocaleDateString()}
          </h3>
        </header>
        <!-- <Markdown> -->
        <slot />
        <!-- </Markdown> -->
        <footer>
          <p>
            {description.toLowerCase()}
            <br />&copy; 2024 Ethan Crawford. <br />All rights reserved.
          </p>
        </footer>
      </article>
    </main>
  </body>
</html>
